{
"IAM_CLIENT_ID": "{{ iam_client_id }}",
"IAM_CLIENT_SECRET": "{{ iam_client_secret }}",
"IAM_BASE_URL": "{{ iam_base_url }}",
"ORCHESTRATOR_URL": "{{ orchestrator_url }}",
"TOSCA_TEMPLATES_DIR": "{{ tosca_templates_dir }}",
"TOSCA_PARAMETERS_DIR": "{{ tosca_parameters_dir }}",
"SLAM_URL": "{{ slam_url }}:8443",
"CMDB_URL": "{{ cmdb_url }}/cmdb",
"CALLBACK_URL": "https://{{ dash_fqdn }}/callback",
"MAIL_SERVER": "{{ mail_server }}",
"MAIL_PORT": "{{ mail_port }}",
"MAIL_SENDER": "{{ mail_sender }}",
"ADMINS": "['{{ admins }}']"
}

